<!DOCTYPE html>
<html>
<head>
  <title>My Portfolio</title>
  <link rel="stylesheet" type="text/css" href="css/index.css">

</head>
<body>
  <header>
    
    <!-- <img src="myImage.jpg" alt="My Image"> -->
    <h1 id="profile-title">My Portfolio</h1>
    <nav>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <section id="home">
    <h2>Welcome to my portfolio</h2>
    <p>Here you can know about me, about my projects and contact me if required. <br/> 
       This page contains my professional information and you can download my resume. </p>
  </section>

  <section id="about">
    <img src="myImage.jpg" alt="My Image">
    <h2>About Me</h2>
    <p>I am a Computer Science and Engineering student at National Institute of Technology (NIT), Patna. <br/> 
      I will be completing my Bachelor's degree in 2025. <br/>
      I am a frontend web developer with experience in HTML, CSS, and JavaScript. <br/>
      I love creating interactive and user-friendly websites.</p>
  </section>

  <section id="projects">
    <h2>Projects</h2>
    <div class="project">
      <h3>•Musical Drum</h3>
      <p>Produces sound when hover or keys are pressed.</p>
      <a href="https://github.com/jayasreejetti/customer-segemtation-tool.git"><button>Click Here</button></a>
    </div>

    <div class="project">
      <h3>•Gym Website</h3>
      <p>Contains information about gym, login, fee and registration form</p>
    </div>

    <div class="project">
    <h3>•Speech Converter</h3>
      <p>Converts written text to speech</p>
      <a href="https://github.com/jayasreejetti/diseasedetector.git"><button>Click Here</button></a>
    </div>

    <div class="project">
    <h3>•Weather App</h3>
      <p>Reflect current weather of the city with temperature</p>
      <a href="https://github.com/jayasreejetti/GameHub.git"><button>Click Here</button></a>
    </div>

    <div id="resume-download">
        <a href="My_resume.pdf" download><button>Download Resume</button></a>
    </div>

  </section>

  
  <section id="contact">
    <h2>Contact Me</h2>
    <form action="/add" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required><br>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required><br>

      <label for="msg">Message:</label>
      <textarea id="msg" name="msg" required></textarea><br>

      <input type="submit" value="submit">
    </form>
  </section>

  <footer>
    <p>&copy; My Portfolio. All rights reserved. Copyright.</p>
  </footer>

  <script>
    document.querySelectorAll('nav a').forEach(anchor => {
    anchor.addEventListener('click', function(e) {
      e.preventDefault();
      document.querySelector(this.getAttribute('href')).scrollIntoView({
        behavior: 'smooth'
      });
    });
  });

  </script>
</body>
</html>